@use 'variables';
@use 'theme';

$themeMap: (
  default: (
    'bgColor': variables.$darkBg,
    'textColor': variables.$white,
    'someVariableWithDefaultFallback': variables.$red
  ),
  light: (
    'bgColor': variables.$lightBg,
    'textColor': variables.$white
  )
);

@mixin myComponent($theme: 'default') {
  @include theme.with-theme($themeMap, $theme) {
    .my-component {
      background: theme.themed('bgColor');
      color: theme.themed('textColor');

      strong {
        color: theme.themed('someVariableWithDefaultFallback');
      }
    }
  }
}
