@function themed($itemKey, $themeMap: $theme-map, $themeKey: 'default') {
  $entityMap: map-get($themeMap, $themeKey);

  @if not $entityMap {
    @error 'There is no `#{$themeKey}` entry in your theme map.';
  }

  $value: map-get($entityMap, $itemKey);

  @if not $value and $value != false {
    $value: map-get($entityMap, 'default');

    @if not $value and $value != false  {
      @error 'The theme `default` doesn\'t have a value for `#{$itemKey}`.';
    }
  }

  @return $value;
}
